

/* Définition des polices */
html {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}
/* ------------------------------------------------------------------------------------------------------------- */
/* Mise en forme générale pour l'ensemble de la page */
body {
    /* mise en place du cadre externe et suppression des ascenseurs" */
    background: linear-gradient(to bottom right, rgba(165, 42, 42, 0.308), brown);
    min-height: 98vh;
    min-width: 85vw;
    overflow-x: hidden;
    overflow-y: hidden;

    /* mise en place de la grille pour les éléments du jeu en mode mobile first" */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr .8fr 1fr 1fr 1fr .8fr;
    grid-template-areas:
        "Newgame Newgame Newgame"
        "Player1 Player1 Player1"
        "Courant1 vide1 Global1"
        "Rolldice Gagnant des"
        "Courant2 vide2 Global2"
        "Player2 Player2 Player2";
}
/* ------------------------------------------------------------------------------------------------------------- */
/* Mise en forme générale des différentes cellules */
/* Rectangle de visualisation du joueur en cours */

.rectangledroit {
    position : fixed ;
    background: rgba(255, 0, 0, 0.178);
}
/* Centrage des éléments dans les cellules */
.centrage {
    display:flex; 
    align-items: center;
    justify-content: center;
}

/* Définition et mise en forme des 2 zones spécifiques au score courant des joueurs  */
.scorecourrant {
    display :flexbox;
    text-align: center;
    width: 3em;
    font-size: 0.8em;
    color: rgb(177, 165, 165);
    font-weight: 100 ;
    background: red;
}
/* Mise en forme du titre  des 2 zones spécifiques au score courant des joueurs  */
.policecourrant {
    font-size: 0.5em;
    color: black;
    font-weight: bold ;
}
    
/* Mise en forme des boutons de commandes du jeu */
.Boutonjeu {
    position: relative; /* force les boutons à rester au premier plan, associé à z-index*/
    display: flex;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    padding: 10px;
    font-style: italic;
    font-size: 1.2em;
    width: 8.5em;
    color: #a5a5a5;
    background-color: #f3d5d5;
    border-radius: 24px;
    border: 4px solid #FFFFFF;
    box-shadow: 3px 3px 12px #444444;
    z-index: 0; /* force les boutons a rester au premier plan*/
}
.Boutonjeu:hover, .Boutonjeu:active, .Boutonjeu:focus  {
    outline:  none;
    border: none;
}
/* Mise en forme globale du texte des zones joueurs et score global */
.Textejoueur , .Texteglobal{
    padding: 10px;
}

/* Mise en forme du texte des zones joueur */
.Textejoueur {
    gap : 60px;
    font-size: 4em;
    color: lightgray;
    font-style: italic;
    font-weight: bold ;
}

/* Mise en forme du texte des zones du score global*/
.Texteglobal {
    font-size: 8em;
    color: rgb(177, 165, 165);
    font-weight: 100 ;
}
/* Texte du nom du gagnant */
.Textejoueurgagnant {
    font-size: 1.5em;
    color: rgb(42, 8, 235);
    font-style: italic;
    font-weight: bold ;
}
/* Texte du texte annoncant que l'on peut rejouer en cliquant New Game */
.texterelance {
    font-size: 0.7em;
    color: black;
    font-weight: bold ;
}
#imagedes {
    z-index: 1;
}
.cercle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background:red;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* Définition des différentes zones du jeu*/

/* FOnd blanc pour toutes les cellules */
.zoneBtnNewGame, .Joueur1, .Joueur2,.Global1, .Global2, .Courant1, .Courant2, .vide1, .vide2, .Rolldice, .Des, .Hold, .Gagnant {
    background: white;
}
/* zone du bouton New Game */
.zoneBtnNewGame {
    grid-area: Newgame;
}
/* Zones des joueurs */
.Joueur1 {
    grid-area: Player1;
}
.Joueur2 {
    grid-area: Player2;
}
/* Zones des scores globaux */
.Global1 {
    grid-area: Global1;
}
.Global2 {
    grid-area: Global2;
}
/* Zones des scores courants */
.Courant1 {
    grid-area: Courant1;
}
.Courant2 {
    grid-area: Courant2;
}
/* Zones des cellules vides*/
.vide1 {
    grid-area: vide1;
}
.vide2 {
    grid-area: vide2;
}
/* Zone des boutons Rolldice et Hold */
.Rolldice {
    grid-area: Rolldice;
    display: grid;
    justify-content: center;
}
/* Zones de l'image du dés */
.Des {
    grid-area: des;
}
/* Zones de l'annonce du gagnant du gagnant */
.Gagnant {
    grid-area: Gagnant;
    text-align: center;
    padding : 20px;
}


/*---------------------------------------------------*/
/* adapatation aux écrans plus grands et au smartphone ou tablette en mode paysage */

@media screen and (min-width : 768px) , (max-width : 768px) and (orientation : landscape) {
    /* Mise en place de la nouvelle disposition */
    body {
        /* mise en place du cadre externe et suppression des ascenseurs" */
        background: linear-gradient(to bottom right, rgba(165, 42, 42, 0.308), brown);
        min-height: 98vh;
        min-width: 85vw;
        overflow-x: hidden;
        overflow-y: hidden;
    
        /* mise en place de la grille pour les éléments du jeu" */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: .5fr .5fr 1fr 1fr;
        grid-template-areas:
            "Newgame Newgame Newgame"
            "Player1 Gagnant Player2"
            "Global1 des Global2"
            "Courant1 Rolldice Courant2" ;
    }
    /* Suppression de l'affichage du vide entre les scores gloabux et cournats du joueur 2 */
    .vide2 {
        display: none;
    }
    /* Rectangle de visualisation du joueur en cours */
    .rectangle {
        width : 50vw;
        height : 100%;
        z-index: 0;
}
} 